@{
    ViewData["Title"] = "About";

}
<h1>@ViewData["Title"]</h1>

<h2>@ViewData["Message"]</h2>


<p>Aluno @ViewData["Aluno"]</p>
<address>
    <strong>More Information: </strong><a href="https://www.instagram.com/matheusvitalwr/">Meu Instagram.</a>
</address>